<main>
  <div class="formContainer">
    <form class="formContainer__form" action="" method="get">
      <label for="title">¿Qué vemos hoy?</label>
      <input
        class="formContainer__form--input js-input"
        placeholder="Escribe aquí tu serie"
        id="title"
        type="text"
        name="title"
        required
      />
      <input
        class="js-btn"
        type="button"
        id="button"
        value="Encontrar mi serie favorita"
      />
    </form>
  </div>
  <div class="container">
    <section>
      <h2>Mis series favoritas</h2>
      <ul class="container__containerFav js-containerFav"></ul>
    </section>
    <section class="js-section2">
      <ul class="container__containerCards js-containerCards"></ul>
    </section>
  </div>
</main>
