body {
  padding: 2rem;
  height: 100vh;
  background-color: $color-bg;
  font-family: $font-main;
  background-image: url(../images/fondo-cine.jpg);
  background-size: cover;
  height: 100vh;
}

.formContainer {
  height: 100px;
  text-align: center;
  padding: 45px 0 0 45px;

  &__form--input {
    width: 200px;
    padding: 0 5px;
  }
}
.container {
  display: flex;
  justify-content: space-around;
  padding: 20px 40px 0px 40px;

  &__containerFav {
    background: cyan;
    list-style: none;
  }

  &__containerCards {
    background: darkblue;
    color: red;
    list-style: none;

    &--cardsItem {
      background: cyan;
      color: darkblue;
    }
  }
}
