body {
  padding: 2rem;
  height: 100vh;
  background-color: $color-bg;
  font-family: $font-main;
  // background-image: url(../images/backgroundCine.jpg);
  background-size: cover;
  height: 100vh;
}

.formContainer {
  height: 100px;
  text-align: center;
  padding: 45px 0 0 45px;

  &__form--input {
    width: 200px;
  }
}
.container {
  display: flex;
  justify-content: space-around;

  &__containerFav {
    background: cyan;
  }

  &__containerCards {
    background: darkblue;
    color: cornflowerblue;

    &--cardsItem {
      background: red;
      color: darkblue;
    }
  }
}
